nextflow.enable.dsl=2
cleanup=false

singularity {
    enabled = true 
    singularity.envWhitelist = ["SINGULARITY_TMPDIR"]
    runOptions = '--bind /orfeo:/orfeo --bind $SINGULARITY_TMPDIR:/tmp'
}

process {
   executor='slurm'
   queue='THIN'
   errorStrategy = 'finish'
}

process {
    withName: 'INDEX' {
        container = 'https://depot.galaxyproject.org/singularity/salmon:1.5.2--h84f40af_0'
        errorStrategy = 'finish'
    }

    withName: 'QUANTIFICATION' {
        container = 'https://depot.galaxyproject.org/singularity/salmon:1.5.2--h84f40af_0'
        errorStrategy = 'finish'
    }    
    
    withName: 'FASTQC' {
        container = 'docker://biocontainers/fastqc:v0.11.9_cv7'
        errorStrategy = 'finish'
    }   
       
    withName: 'MULTIQC' {
        container = 'https://depot.galaxyproject.org/singularity/multiqc_sav%3A0.0.3--pyh5e36f6f_0'
        errorStrategy = 'finish'
    }     

}
