nextflow.enable.dsl=2
cleanup=false

singularity {
    enabled = true
    envWhitelist = ["SINGULARITY_TMPDIR"]
    singularity.runOptions = '--bind /orfeo:/orfeo'
    cacheDir = "/u/area/ffabris/scratch/ff_nxf_training/tmp"
}

env {
     SINGULARITY_TMPDIR="/u/area/ffabris/scratch/ff_nxf_training/tmp"
}

process {
   executor='slurm'
   queue='THIN'
   account='lade'
   errorStrategy = 'finish'
   scratch='/u/area/ffabris/scratch/ff_nxf_training/tmp'
}

process {
    withName: 'INDEX' {
        container = 'https://depot.galaxyproject.org/singularity/salmon:1.5.2--h84f40af_0'
        errorStrategy = 'finish'
    }

    withName: 'QUANTIFICATION' {
        container = 'https://depot.galaxyproject.org/singularity/salmon:1.5.2--h84f40af_0'
        errorStrategy = 'finish'
    }    
    

    withName: 'FASTQC' {
        container = 'library://pditommaso/rnaseq-nf/latest.sif:latest'
        errorStrategy = 'finish'
        memory = "100 GB"
        cpus = 2
        scratch = '/u/area/ffabris/scratch/ff_nxf_training/tmp'
    }      
           
    withName: 'MULTIQC' {
        container = 'library://pditommaso/rnaseq-nf/latest.sif:latest'
        errorStrategy = 'finish'
        memory = "100 GB"
        cpus = 2
        scratch = '/u/area/ffabris/scratch/ff_nxf_training/tmp'
    }  

}
