nextflow.enable.dsl=2
cleanup=true

singularity {
    enabled = true 
    singularity.envWhitelist = ["SINGULARITY_TMPDIR"]
    runOptions = '--bind /orfeo:/orfeo --bind $SINGULARITY_TMPDIR:/tmp'
}

process {
   executor='slurm'
   queue='THIN'
   errorStrategy = 'finish'
}

process {
    withName: 'INDEX' {
        container = 'https://depot.galaxyproject.org/singularity/salmon:1.5.2--h84f40af_0'
        errorStrategy = 'finish'
    }
}
